<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add verb="*" path="/testhandler.ashx" type="QA.Validation.Xaml.Extentions.WebApp.TestHandler, QA.Validation.Xaml.Extentions.WebApp" />
      </httpHandlers>
    </system.web>
  
<system.webServer>
  <handlers>
    <add name="validation" verb="*" path="/testhandler.ashx" type="QA.Validation.Xaml.Extentions.WebApp.TestHandler, QA.Validation.Xaml.Extentions.WebApp"/> 
  </handlers>
</system.webServer>
</configuration>
