<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- описываем приемник для информационных сообщений -->
		<!-- xsi:type: запись в файл -->
		<!-- fileName: имя файла info.log в каталог Logs (автосоздание) в каталоге сборок приложения -->
		<!-- layout: шаблон сообщения - текст сообщения + перенос строки -->
		<!-- archiveFileName: включено архивирование -->
		<!-- archiveAboveSize: размер файл подлежащего архивированию, в байтах -->
		<!-- archiveNumbering: включена последовательная нумерация архивных файлов -->
		<!-- concurrentWrites: включен режим совместной записи в файл -->
		<!-- keepFileOpen: не держать файл открытым -->
		<target
			name="fileinfo"
			xsi:type="File"
			fileName="${basedir}/Logs/info.log"
			layout="${message}${newline}"
			archiveFileName="${basedir}/Logs/info{#####}.log"
			archiveAboveSize="10240"
			archiveNumbering="Sequence"
			concurrentWrites="true"
			keepFileOpen="false" />

		<!-- описываем приемник для ошибок -->
		<!-- xsi:type: запись в файл -->
		<!-- fileName: имя файла err.log в каталог Logs (автосоздание) в каталоге сборок приложения -->
		<!-- layout: шаблон сообщения - текст сообщения + перенос строки -->
		<!-- archiveFileName: включено архивирование -->
		<!-- archiveAboveSize: размер файл подлежащего архивированию, в байтах -->
		<!-- archiveNumbering: включена последовательная нумерация архивных файлов -->
		<!-- concurrentWrites: включен режим совместной записи в файл -->
		<!-- keepFileOpen: не держать файл открытым -->
		<target
			name="fileexception"
			xsi:type="File"
			fileName="${basedir}/Logs/err.log"
			layout="${newline}${date}: ${message}${newline}${exception:format=tostring}"
			archiveFileName="${basedir}/Logs/err{#####}.log"
			archiveAboveSize="10240"
			archiveNumbering="Sequence"
			concurrentWrites="true"
			keepFileOpen="false" />
	</targets>
	<!-- правила журналирования -->
	<rules>
		<!-- фатальные ошибки записываем в fileexception -->
		<logger name="*" level="Fatal" writeTo="fileexception" />
		<!-- ошибки записываем в fileexception -->
		<logger name="*" level="Error" writeTo="fileexception" />
		<!-- информационные сообщения записываем в fileinfo -->
		<logger name="*" level="Info" writeTo="fileinfo" />
  <!-- информационные сообщения записываем в fileinfo -->
		<logger name="*" level="Debug" writeTo="fileinfo" />
	</rules>
</nlog>