<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="NLog.Extended" version="2.1.0.1" targetFramework="net45" />
  <package id="Portable.Xaml" version="0.24.0" targetFramework="net471" />
  <package id="QA.Configuration" version="1.1.0-portable1" targetFramework="net471" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" />
</packages>